<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="image-container">
        </div>
        <div class="background-image"></div>
        <div class="form-container">
            <h1>Iniciar sesion</h1>
            <p>Ingrese sus credenciales para ingresar</p>
            <form id="login-form" action="/login" method="POST">
                <label for="user" class="sr-only">User</label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <button type="submit">Iniciar sesion</button>
            </form>
            <p class="alternativa">
                Si no tenes una cuenta ingresa a: <a href="register"
                    style="display: block; margin-top: 10px;">Registrarse</a>
            </p>
        </div>
    </main>

</body>

</html>